Main_Pipeline/csrp_acquiror_data.csv
Main_Pipeline/csrp_target_data.csv

Modified Relative Size Regression (Market Cap -50)/csrp_acquiror_data.csv
Modified Relative Size Regression (Market Cap -50)/csrp_target_data.csv